.row {
    margin-top: 4vw;
    margin-left: 1vw;
    margin-bottom: 4vw;
    padding-top: 2vw;
    margin-right: 3vw;
    padding-bottom: 2vw;
    padding-left: 2vw;
    padding-right: 2vw;
    outline: auto;
    outline-color: #d15e92;
}

.row-opposite {
    outline-color: #ffe0f8 !important;
    background: #ffe0f8 !important;
}
.row-bg {
    background: #d15e92 !important;
}
.parent {
    position: relative;
    top: 0;
    left: 0;
  }
  
.image1 {
    position: relative;
    top: 0;
    left: 0;
}
a:link, a:visited {
    background-color: #d15e92;
    color: #ffe0f8;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
  
a:hover, a:active {
    background-color: #ffe0f8;
    color: #d15e92;
}

.link-no-back {
    background-color: #d15e92 !important;
    color: #ffe0f8 !important;
}

.link-no-button {
    background-color: none !important;
    color: #ffe0f8 !important;
    padding: 0px 0px !important;
    display:contents !important;
}

.image2 {
    position: absolute;
    top: 0;
    left: 0;
    max-height: 10vw;
    width: auto;
}
.small-row {
    margin-left: 2vw !important;
    margin-right: 0vw!important;
}

.no-outline-row {
    margin-top: 0!important;
    margin-left: 0!important;
    margin-bottom: 0!important;
    padding-top: 0!important;
    padding-bottom: 0!important;
    padding-left: 0!important;
    padding-right: 0!important;
    outline: none !important;
}
body {
    background: #ffe0f8 !important;
}

.body-modificar {
    background: #d15e92 !important;
}

.icon-img {
    width: 2vw;
}

h1, .fs-4 {
    padding-bottom: 5vw;
}

.news-title {
    word-spacing: 2vw;
}

.cudi-banner {
    height: 20vh;
    width: 100%;
}

.bg-light {
    background-color: #d15e92 !important;
}

.banner {
    width: inherit;
    height: inherit;
}

.news-img {
    width: inherit;
}

.gestion-img {
    width: 15% !important;
    height: 15% !important;
}

.container {

    /* display: flex; */
    justify-content: right;

}
.dropdown-menu {
    background-color: #d15e92 !important;
}
/* .info-column {
    background-color: azure; 
} */