{% extends "navbar.html" %}
{% block title %} Categoría: {{noticias[0].categoria}} {% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block body %}
{{super()}}
<div class="row no-outline-row align-items-start">
{% for noticia in noticias %}
    <div class="col-md-6">
        <div class="row" data-aos="fade-up"><img class="news-img" src= '/static/img/{{noticia.imagen}}' >
            {{ resumirSubtitulo(noticia) }}...

            <br>
            <a href="{{url_for('ir_a_noticia',id=(noticia.id))}}">{{ noticia.titulo }}</a>
        </div>
    </div>
{% endfor %}
</div>

{% endblock %}