{% extends "navbar.html" %}
{% block title %} Página principal {% endblock %}
{% block head %}
{{ super() }}
{% endblock %}

{% block body %}
{{super()}}
<div class="container">
    <div class="row no-outline-row align-items-start">
        <div class="col-md-8">
            {% for noticia in noticias  %}
                {% if noticia.id == (tamano-1) %}
                <div class="row"><img class="news-img" src= '/static{{noticia.imagen}}' >
                    {{ resumirSubtitulo(noticia) }}...

                    <br>
                    <a href="{{url_for('ir_a_noticia',id=(noticia.id))}}">{{ noticia.titulo }}</a>
                </div>
             {% endif %}   
             {% endfor %}   
                <div class="row">
            {% for noticia in noticias  %}
                {% if noticia.id != (tamano-1) %}
                <div class="col"><img class="news-img" src= '/static{{noticia.imagen}}'>
                    {{ resumirSubtitulo(noticia) }}...
                    <br>
                    <a href="{{url_for('ir_a_noticia',id=(noticia.id))}}">{{ noticia.titulo }}</a>
                </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
        <div class="col-md-4">
            <div class="row small-row">
                <div class="info-column">
                    <h1>Titulo columna1</h1>
                    <p>blablablalbalbla</p>
                    <p>ssssssssssssssssssss</p>
                    <p>sssssssssssssssssssss</p>
                    <p>hhhhhhhhhhhhhhhhhhhhh</p>
                    <p>juuuuuuuuuuujyuytjtjtj</p>
                </div>
                <div class="info-column">
                    <h1>Titulo columna2</h1>
                    <p>blablablalbalbla</p>
                    <p>ssssssssssssssssssss</p>
                    <p>sssssssssssssssssssss</p>
                    <p>hhhhhhhhhhhhhhhhhhhhh</p>
                    <p>juuuuuuuuuuujyuytjtjtj</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}