{% extends "navbar.html" %}
{% block title %} Página principal {% endblock %}
{% block head %}
{{ super() }}
{% endblock %}

{% block body %}
{{super()}}
<div class="container">
    <div class="row no-outline-row align-items-start">
        <div class="col-md-8">
            <div class="row"><img class="news-img" src= {{noticias[tamaño].obtenerImagen()}} >
                {{ noticias[tamaño].resumirSubtitulo() }}...

                <br>
                <a href="{{url_for('ir_a_noticia',id=(noticias[tamaño].id))}}">{{ noticias[tamaño].titulo }}</a>
            </div>
            <div class="row">
            <div class="col"><img class="news-img" src= {{noticias[tamaño-1].obtenerImagen()}}>
                {{ noticias[tamaño-1].resumirSubtitulo() }}...
                <br>
                <a href="{{url_for('ir_a_noticia',id=(noticias[tamaño-1].id))}}">{{ noticias[tamaño-1].titulo }}</a>
            </div>
            <div class="col"><img class="news-img" src= {{noticias[tamaño-2].obtenerImagen()}}>
                {{ noticias[tamaño-2].resumirSubtitulo() }}...
                <br>
                <a href="{{url_for('ir_a_noticia',id=(noticias[tamaño-2].id))}}">{{ noticias[tamaño-2].titulo }}</a>
            </div>
        </div>
    </div>
        <div class="col-md-4">
            <div class="row small-row">
                <div class="info-column">
                    <h1>Titulo columna1</h1>
                    <p>blablablalbalbla</p>
                    <p>ssssssssssssssssssss</p>
                    <p>sssssssssssssssssssss</p>
                    <p>hhhhhhhhhhhhhhhhhhhhh</p>
                    <p>juuuuuuuuuuujyuytjtjtj</p>
                </div>
                <div class="info-column">
                    <h1>Titulo columna2</h1>
                    <p>blablablalbalbla</p>
                    <p>ssssssssssssssssssss</p>
                    <p>sssssssssssssssssssss</p>
                    <p>hhhhhhhhhhhhhhhhhhhhh</p>
                    <p>juuuuuuuuuuujyuytjtjtj</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}