{% extends "navbar.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block head %}
{% block title %} Editando Usuario "{{usuario.id}}" {% endblock %}
{% block css %} <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
crossorigin="anonymous"></script>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="{{ url_for('static', filename='./css/signin.css') }}" rel="stylesheet"> {% endblock %}
{{ super() }}
{% endblock %}

{% block body %}
<body class="body-modificar">
{{super()}}
<div class="padding-div text-center"></div>
<div class="container form form-modify text-center row-opposite row">
    <form method="POST" action="#">
        <div data-aos="fade-up">
            <h1 class="row-opposite row ">Editar Página de Usuario</h1>
            {{ form.hidden_tag() }}
            {{ wtf.form_errors(form, hiddens="only") }}
            <div class="col">
                <div class="row-opposite row " >
                    {{ wtf.form_field(form.fotoperfil) }} 
                </div>
                <div class="row-opposite row " >
                    {{ wtf.form_field(form.tituloperfil) }} 
                </div>
                <div class="row-opposite row " >
                    {{ wtf.form_field(form.biografia) }}
                </div>
                <div class="row-opposite row " > 
                    {{ wtf.form_field(form.submit) }} 
                </div>
            </div>
        </div>
    </form>
</div>
<div class="padding-div"></div>
{% endblock %}
</body>