<html>
    <head>
        {% block head %}
        <head>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <!--  -->
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
                integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
                crossorigin="anonymous"></script>
                <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
            {% block css %} {% endblock %}
            <link href="{{ url_for('static', filename='/css/noticias.css') }}" rel="stylesheet">
        <title>{% block title %}{% endblock %} - SigloMundo</title>
        {% endblock %}
    </head>
    <body>
        {% block body %}
        <div class="container"> 
            {% for mesg in get_flashed_messages() %}
            <div class="alert alert-warning">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ mesg }}
            </div>
            {% endfor %}
        </div>
        <div class="parent"> <div class="cudi-banner"><img class="banner image1" src="{{ url_for('static', filename='/img/banner back.png') }}"></div> <a class="link-no-button"href="{{url_for('index')}}"><img class="image2" src="{{ url_for('static',filename='img/logo1.png') }}"></a></div>
        
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand link-no-back" href="{{url_for('index')}}">Página principal</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle link-no-back" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Cuenta
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                {% if current_user.is_authenticated %}
                                <li><a class="dropdown-item" href="{{url_for('usuario',nombre=(current_user.nombre_usuario))}}">{{current_user.nombre_usuario}}</a></li>
                                <li><a class="dropdown-item" href="{{url_for('inicio_sesion')}}">Cerrar sesión</a></li>
                                {% else %}
                                <li><a class="dropdown-item" href="{{url_for('inicio_sesion')}}">Iniciar Sesion</a></li>
                                <li><a class="dropdown-item" href="{{url_for('registro')}}">Registrarse</a></li>
                                {% endif %}
                                </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle link-no-back" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Categorias
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="{{url_for('ir_a_categoria',categoria='deportes')}}">Deportes</a></li>
                                <li><a class="dropdown-item" href="{{url_for('ir_a_categoria', categoria='misterios')}}">Misterios</a></li>
                                <li><a class="dropdown-item" href="{{url_for('ir_a_categoria', categoria='general')}}">General</a></li>
                                <li><a class="dropdown-item" href="{{url_for('ir_a_categoria', categoria='tecnologia')}}">Tecnología</a></li>
                                <li><a class="dropdown-item" href="{{url_for('ir_a_categoria', categoria='internacional')}}">Internacional</a></li>
                            </ul>
                            {% if current_user.is_authenticated %}{% if current_user.rol == "administrador" %}<li class="nav-item dropdown"><a class="dropdown-item link-no-back" href="{{url_for('gestion')}}">Gestión de Noticias</a></li>
                            <li class="nav-item dropdown"><a class="dropdown-item link-no-back" href="{{url_for('cargarNoticias')}}">Subida de Noticias</a></li>{% endif %}{% endif %}
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        {% endblock %}
        {% block imagen %} <img class="newspage-image" src={% endblock %}>
    </body>
    </html>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
    AOS.init();
</script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
{% block scripts %}
{% endblock %}
