{% extends "navbar.html" %}
{% block title %} {{noticia_buscada.titulo}} {% endblock %}
{% block head %}
{{ super() }}
{% endblock %}

{% block body %}
{{super()}}
    <div class="container">
        <div class="row"><img class="newspage-image" src='/static{{noticia_buscada.imagen}}'> </div>
        <div class="row">
            <h1 class="news-title fs-1">{{noticia_buscada.titulo}}</h1> 
            <div class="fs-2">{{noticia_buscada.subtitulo}}</div>
            <div class="fs-4">{{noticia_buscada.resaltado}}</div>
            <div class="col">{{noticia_buscada.columna1}}</div>
            <div class="col">{{noticia_buscada.columna2}}</div>
        </div>
        </div>
{% endblock %}