{% extends "navbar.html" %}
{% block title %} Perritos Peligrosos {% endblock %}
{% block head %}
{{ super() }}
{% endblock %}

{% block body %}
{{super()}}
<div class="container">
    <div class="row"><img src="{{ url_for('static', filename='/img/pradera.jpg') }}" class="newspage-image"></div>
    <div class="row">
        <h1 class="news-title fs-1">Invasión de nueva especie</h1>
        <div class="fs-2">Una nueva especie de perrito de las praderas fue encontrado, y granjeros alrededor del mundo
            pierden el sueño.</div>
        <div class="fs-4">Puede cambiar la forma de sus dientes para roer cualquier material.</div>
        <div class="col">Aunque le toma algunos dias adaptarse, granjeros alrededor del mundo estan asustados que esto
            podria arruinar sus cosechas para siempre.</div>
        <div class="col">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum aperiam recusandae nostrum
            commodi quis nesciunt culpa delectus, officia expedita temporibus eveniet ullam enim non natus deleniti
            adipisci eius libero neque!</div>
    </div>
</div>

{% endblock %}