{% extends "navbar.html" %}
{% block title %} Un Desmayo Inesperado {% endblock %}
{% block head %}
{{ super() }}
{% endblock %}

{% block body %}
{{super()}}
    <div class="container">
        <div class="row"><img src="{{ url_for('static', filename='/img/nadadora.webp') }}" class="newspage-image"></div>
        <div class="row">
            <h1 class="news-title fs-1">Desmayo Inesperado</h1> 
            <div class="fs-2">La nadadora artística estadounidense Anita Alvarez, que sufrió un desmayo .</div>
            <div class="fs-4">Fue salvada por su entrenadora.</div>
            <div class="col">No ha sido autorizada para la competición por equipos, prueba que se desarrolla el viernes en los Mundiales de Budapest, según la lista de participantes actualizada. Alvarez, que perdió el conocimiento al final de su ejercicio individual, figuraba en todas las listas precedentes del equipo estadounidense, pero ha sido remplazada por Yujin Chang poco antes del inicio de la prueba. “Es una decisión tomada por la FINA”, declaró Selina Shah, médica del equipo estadounidense de natación artística. “Desde mi punto de vista, ella habría podido participar”, añadió.</div>
            <div class="col">La nadadora de 25 años fue rescatada por su entrenadora, la española Andrea Fuentes, que se tiró al agua vestida con pantalón corto y camiseta, para lograr sacarla a la superficie con sus brazos. ”Creo que estuvo al menos dos minutos sin respirar porque sus pulmones estaban llenos de agua”, contó más tarde la entrenadora. Alvarez ha tenido que pasar un examen médico completo el viernes por la mañana, Luego de eso, se conoció la noticia de que Alvarez no participaría de la competencia.</div>
        </div>
        </div>
{% endblock %}