{% extends "navbar.html" %}
{% block title %} Abuelo Muerto {% endblock %}
{% block head %}
{{ super() }}
{% endblock %}

{% block body %}
{{super()}}
    <div class="container">
        <div class="row"><img src="{{ url_for('static', filename='/img/tablero-didactico.jpg') }}" class="newspage-image"></div>
        <div class="row">
            <h1 class="news-title fs-1">El abuelo de la empanada murio</h1> 
            <div class="fs-2">Fue asesinado a sangre fría por la hermanastra del amigo de su nieto, usando un tateti envenenado.</div>
            <div class="fs-4">Sus huellas fueron encontradas en el tablero.</div>
            <div class="col">Se dice que queria robar el tesoro familiar de la empanada parlante alienigena, sin suerte, pues la misma la llevo a la comisaria. El plan que tenia pareceria impecable a cualquiera, mas el conocimiento de la empanada alienigena la supero.</div>
            <div class="col">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum aperiam recusandae nostrum commodi quis nesciunt culpa delectus, officia expedita temporibus eveniet ullam enim non natus deleniti adipisci eius libero neque!</div>
        </div>
        </div>
{% endblock %}